<% @page_title = "Account Settings" %>

<% content_for :header do %>
  <h1 class="header__title" data-bridge--title-target="header">
    <%= @page_title %>
    <% unless Current.user.admin? %>
      <div class="txt-normal font-weight-normal">Only admins can change these settings</div>
    <% end %>
  </h1>
<% end %>

<div class="settings margin-block-start-half">
  <div class="settings__panel settings__panel--users panel shadow center">
    <%= render "account/settings/name", account: @account %>
    <%= render "account/settings/users", users: @users %>
  </div>

  <div class="settings__panel settings__panel--entropy panel shadow center">
    <%= render "account/settings/entropy", account: @account %>
    <%= render "account/settings/export" if Current.user.admin? || Current.user.owner? %>
    <%= render "account/settings/cancellation" %>
  </div>
</div>
