<%= column_tag id: "maybe", name: "Maybe?", drop_url: columns_card_drops_stream_path("__id__"), collapsed: false, selected: "true", class: "cards--maybe", data: {
  drag_and_strum_target: "container",
  collapsible_columns_target: "column maybeColumn",
  action: "focus->collapsible-columns#focusOnColumn"
} do %>
  <header class="cards__header">
    <%= render "boards/show/expander", title: "Maybe?", count: board.cards.awaiting_triage.count, column_id: "maybe" %>
    <%= render "boards/show/menu/maximize", column_path: board_columns_stream_path(board) %>
  </header>
  <div data-bridge-disabled="true">
    <%= render "columns/show/add_card_button", board: board %>
  </div>
  <div class="cards__list hide-scrollbar" data-drag-drop-item-container>
    <% if page.used? %>
      <%= with_automatic_pagination "maybe", page do %>
        <%= render "cards/display/previews", cards: page.records, draggable: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
