<%= collapsible_nav_section "Settings" do %>
  <%= filter_place_menu_item account_settings_path, "Account Settings", "settings" %>
  <%= filter_place_menu_item user_path(Current.user), "My Profile", "person" %>
  <%= filter_place_menu_item notifications_path, "All notifications", "bell" %>
  <%= filter_place_menu_item notifications_settings_path, "Notification Settings", "settings" %>

  <%= tag.li class: "popup__item", data: { filter_target: "item", navigable_list_target: "item" } do %>
    <%= icon_tag "logout", class: "popup__icon" %>
    <%= button_to session_path(script_name: nil), method: :delete, class: "popup__btn btn", form: { data: { turbo: false, controller: "clear-offline-cache", action: "submit->clear-offline-cache#clearCache" } } do %>
      <span>Sign out</span>
    <% end %>
  <% end %>
<% end %>
